In [ ]:
1 . What are data structure, and why are they important ?

. Data Structure are the way of organising and storing data in aproper manner so that it can be easily accessible. These are like container that stores data in aspecific format. They are important because they provide efficient management of data optimize the performance.

2 . Explain the difference between mutable and immutable data types with example.

. Mutable data types can be change after the execution of the code, ex- we can change the values in the list even after the list is executed, while in immutable data types we cannot change the value we have to create a new object with updated value.

3 . What are the main differences between lists and tuples in python ?

. The main differences is that lists are mutable i.e. the value written inside a list can be changed and tuples are immutable i.e. the values inside tuples cannot be change.

4. Describe how dictionaries store data.

. Dictionaries consist of akey and its value, inside the dictionary has its own unique key assigned which stores the data, these key also act as an index for that value.

5. Why might you use a set instead of a list in python ?

. We can use sets if we have to store a collection of unique data, as sets don't stores duplicate data, while alist stores a every data which is written inside it.

6. What is a string in python , and how is it different from alist ?

. String in python are sequence of character which represent textual data. It is an immutable data type means it cannot be changed.The main difference between string and list is that list are mutable and contains variety of data type.

7. How do tuples ensure data integrity in python ?

. Tuples in python are immutable which ensures the integrity of the data . Once a tuple is created the element inside it cannot be changed, add or remove. This immutability guarantee that the element of the tuple stays constant.

8. What is a hash table, and how does it relate to dictionaries in python ?

. A hash table is a data structure that implements an associative array, allowing efficient storage and retrival of key-value pair. When we uses a dictionary , python hashes the key to determine where to store and look up the corresponding value.

9. Can lists contain different data types in python ?

. Yes , lists can contain different data types like strings, integerd,floas, boolean, etc.

10 . Explain why strings are immutable in python ?

. Strings in python are immutable to enhance the efficiency by allowing multiple refrences to the same string. it also simplifies programming by ensuring that the string's value remains constant once created.

11 . What advantages do dictionaries offer over lists for certain tasks ?

. Dictionaries uses key and value to store the data, each value is assigned a unique key and these key are also used as an index for the value . So in case if we have to search the information we can simply write the indentifier instead the position in order to get the info.

12. Describe a scenario where using a tuple would be preferable over a lsit ?

. Tuples would be more preferable in asituation where we have to represent a fixed collection of data which are not going to be changed. Because tuples are immutable.

13. How do sets handle duplicate values in python ?

. Sets handle duplicate values by automatically discarding the element which is already present. if we add an exact same element which is already present in the set it will not affect the set and it'll reamins the same and the duplicate value will not be executed.

14. How does the "in" keyword work differently for lists and dictionaries ?

. "in" keyword in list checks if the specific value is present in the list,python iterates through list comparing each element to the value. While the "in" keyword in dictionary checks if the value exist as an key in the dictionary.

15. Can you modify the element of a tuple? Explain why or why not ?

. No, we cannot modify the element of a tuple because tuples are immutable means the elements inside it cannot be changes.This immutability enaures the integrity and efficiency of the data.

16. What is a nested dictionary , and give an example of its use case ?

. A dictionary inside a dictionar is known as nested dictionary. Ex - student_dict = {'s1':{'Name':'Piyudh''Marks':200},'S2':{Name':'Aman''Marks':200}}

17. Describe the time complexity of accessing elements in a dictionary ?

.  The time complexity of accessing element in a dictionary is on average, 0(1) which is constant. Python dictionaries are implement using hash table. when you want to access a value using its key, python calculates the hash of the key and directly jumps to the memory location where the key-value pair is stored.

18. In what situations are lists preferred over dictionaries ?

. List is preferred over a dictionary whwn the order od elements is important and you need to access the element by their index number.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

. Dictionaries are considered unordered because they do not maintain the order in which they are inserted when we access the items the order of dictionaries may very. If we nned to retrive the data we can't rely on the order they have inserted.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

. In list we have to use the index number in order to retrive the data, while in dictionaries the data is retrived by using their unique key.

In [ ]:
# Write a code to create a string with your name and print it.

str = ("piyush")
print(str)

piyush

In [ ]:
# Write a code to find the length of the string "HELLO WORLD".

str = ("HELLO WORLD")
len(str)

11

In [ ]:
# Write a code to slice the first 3 characters from the string "Python Programming".

str = ("Python Programming")
str[0:3]

'Pyt'

In [ ]:
# Write a code to convert the string "hello" to uppercase.

str = ("hello")
str.upper()

'HELLO'

In [ ]:

# Write a code to replace the word "apple" with "orange" in the string "I like apple".

str = ("I like apple")
str.replace("apple","orange")

'I like orange'

In [ ]:
# Write a code to create a list with numbers 1 to 5 and print it.
str = ([1,2,3,4,5])
print(str)

[1, 2, 3, 4, 5]

In [ ]:
# Write a code to append the number 10 to the list [1,2,3,4].

str = ([1,2,3,4])
str.append(10)
print(str)

[1, 2, 3, 4, 10]

In [ ]:
# Write a code to remove the number 3 from the list [1,2,3,4,5].
str = ([1,2,3,4,5])
str.remove(3)
print(str)

[1, 2, 4, 5]

In [ ]:
# Write a code to access the second element in the list['a','b','c','d'].

my_list = ['a', 'b' , 'c', 'd']
print(my_list[1])

b

In [ ]:
# Write a code to reverse the list [10,20,30,40,50].

my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [ ]:
# Write a code to create a tuple with the elements 100,200,300 and print it.

my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [ ]:
# Write a code to access the second-to-last element of the tuple('red','green','blue','yellow').
tuple =('red','green','blue','yellow')
tuple[1:3]

('green', 'blue')

In [ ]:
# Write a code to find the minimum number in the tuple (10,20,5,15)

tuple = (10,20,5,15)
min(tuple)

5

In [ ]:
# Write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit')
tuple = ('dog','cat','rabbit')
tuple.index('cat')

1

In [ ]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tuple = ('apple','banana','kiwi')
'kiwi' in tuple

True

In [ ]:
# Write a code to create a set with the elements 'a','b','c' and print it.

set = {'a','b','c'}
print(set)

{'a', 'b', 'c'}

In [ ]:
# Write a code to clear all elements from the set {1,2,3,4,5}.
set = {1,2,3,4,5}
set.clear()
print(set)

set()

In [ ]:
# Write a code to remove the element 4 from the set {1,2,3,4}.
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [ ]:
# Write a code to find the union of two sets {1,2,3} and {3,4,5}.
set1 = {1,2,3}
set2 = {3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [ ]:
# Write a code to find the intersection of two sets{123} and {3,4,5}.
set1 = {1,2,3}
set2 = {3,4,5}
set1.intersection(set2)

{3}

In [ ]:
# Write a code to create a dictionary with the keys "name","age", and "city", and print it.
dict = {"name":"piyush","age":20,"city":"lucknow"}
print(dict)

{'name': 'piyush', 'age': 20, 'city': 'lucknow'}

In [ ]:
# Write a code to add a new key-value pair "country":"USA" to the dictionary {'name':'alice','age':30}.
dict = {'name':'alice','age':30}
dict['country'] = 'USA'
print(dict)

{'name': 'alice', 'age': 30, 'country': 'USA'}

In [ ]:
# Write a code to access the value associated with the key "name" in the dictionary {'name':'john','age':25}.
dict = {'name':'john','age':25}
dict['name']

'john'

In [ ]:
# Write a code to remove the key "age" from the dictionary {'name':'bob','age':22, 'city':'New York'}.
dict ={'name':'bob','age':22,'city':'New York'}
del dict['age']
print(dict)

{'name': 'bob', 'city': 'New York'}

In [ ]:
# Write a code to check if the key "city" exists in the dictionary {'name':'alice','city':'paris'}.
dict = {'name':'alice','city':'paris'}
'city' in dict

True

In [ ]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1,2,3,4]
print(list)
tuple = (1,2,3,4)
print(tuple)
dict = {'name':'piyush','age':20}
print(dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'piyush', 'age': 20}

In [ ]:
#  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_list = [random.randint(1,100) for _ in range(5)]
random_list.sort()
print(random_list)

[17, 47, 55, 65, 87]

In [ ]:
# Write a code to create a list with strings and print the element at the third index.
list = ['apple','banana','kiwi']
list[2]

'kiwi'

In [ ]:
# Write a code to combine two dictionaries into one and print the result.
dict1 = {'a':1,'b':2}
dict2 = {'c':3,'d':4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Write a code to convert a list of strings into a set.
list = ['apple','banana','kiwi']
set(list)

{'apple', 'banana', 'kiwi'}